#write-product-info {
  width: 100%;
  height: 100%;
}

#write-product-info .wrapper {
  width: 100%;
  height: 500px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

#write-product-info .wrapper > .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#write-product-info .wrapper > .left .thumbnail-upload {
  width: 400px;
  height: 400px;
  background-color: rgb(165, 165, 165);
  border-radius: 5px;
  border: 3px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: 100;
  color: rgb(79, 79, 79);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
}

#write-product-info .wrapper > .left .thumbnail-upload .thumbnail {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

#write-product-info .wrapper > .left .thumbnail-upload .thumbnail-text {
  font-size: 16px;
}

#write-product-info .wrapper > .left .thumbnail-upload:hover {
  background-color: rgb(125, 125, 125);
  cursor: pointer;
}

#write-product-info .wrapper > .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
}

#write-product-info .wrapper > .right > .section-wrapper {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
  align-items: center;
}

#write-product-info .wrapper > .right > .section-wrapper:not(:first-child) {
  margin: 10px 0 0 0;
}

#write-product-info .wrapper > .right > .section-wrapper label {
  margin: 0 10px 0 0;
}

#write-product-info .wrapper > .right > .section-wrapper input {
  width: 250px;
  height: 32px;
  text-indent: 5px;
}

#write-product-info .wrapper > .right > .section-wrapper select,
#write-product-info .wrapper > .right > .section-wrapper option {
  width: 250px;
  height: 32px;
  text-indent: 5px;
}

.thumbnail-file {
  display: none;
}
