#product-post-detail {
  max-width: 1440px;
  margin: 64px auto 0 auto;
}

#product-post-detail .product-post-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#product-post-detail .product-post-info-wrapper > .thumbnail {
  width: 600px;
  height: 600px;
}

#product-post-detail .product-info {
  min-width: 600px;
}

#product-post-detail .product-info .title {
  font-size: 24px;
  font-weight: 700;
}

#product-post-detail .product-info .price {
  font-size: 20px;
  margin: 5px 0 0 0;
  color: gray;
}

#product-post-detail .product-info .deliveryfee {
  margin: 30px 0 0 0;
  font-size: 14px;
}

#product-post-detail .product-info .least-quantity {
  font-size: 14px;
}

#product-post-detail .menu-wrapper {
  margin: 30px 0 0 0;
  width: 100%;
  height: 40px;
  position: relative;
  box-sizing: border-box;
}

#product-post-detail .menu-wrapper .toggle-button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
}

#product-post-detail .menu-wrapper .toggle-button.opened {
  border: 1px solid black;
}

#product-post-detail .menu-wrapper .toggle-button:hover {
  border: 1px solid black;
}

#product-post-detail figure.image img {
  max-width: 100%;
  height: auto;
}

#product-post-detail .product-post-info-wrapper .product-list.closed {
  display: none;
}

#product-post-detail .product-post-info-wrapper .product-list {
  width: 100%;
  max-height: 400px;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid black;
}

#product-post-detail .product-post-info-wrapper .product-list .product {
  width: 100%;
  height: 80px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
}

#product-post-detail .product-post-info-wrapper .product-list .product:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#product-post-detail
  .product-post-info-wrapper
  .product-list
  .product
  > .thumbnail {
  aspect-ratio: 1 / 1;
  height: 50%;
  margin: 0;
}

#product-post-detail
  .product-post-info-wrapper
  .product-list
  .product
  .product-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 0 20px;
}

#product-post-detail
  .product-post-info-wrapper
  .product-list
  .product
  .product-info-wrapper
  .name-price {
  display: flex;
  flex-direction: column;
}

#product-post-detail
  .product-post-info-wrapper
  .product-list
  .product
  .product-info-wrapper
  .name {
  font-weight: 700;
}

#product-post-detail
  .product-post-info-wrapper
  .product-list
  .product
  .product-info-wrapper
  .price {
  font-size: 15px;
  color: black;
}

#product-post-detail
  .product-post-info-wrapper
  .product-list
  .product
  .product-info-wrapper
  .stock {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

#product-post-detail .selected-product-list {
  width: 100%;
}

#product-post-detail .selected-product-wrapper {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 30px 0 0 0;
}

#product-post-detail .selected-product-wrapper hr {
  width: 100%;
}

#product-post-detail .count-wrapper {
  width: 80px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

#product-post-detail .count-plus-button {
  cursor: pointer;
  background-color: white;
}

#product-post-detail .count-display {
  display: flex;
  align-items: center;
}

#product-post-detail .count-minus-button {
  cursor: pointer;
  background-color: white;
}

#product-post-detail .count-sum-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#product-post-detail .total {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

#product-post-detail .buttons {
  width: 100%;
  height: 40px;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
}

#product-post-detail .buttons button {
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
}

#product-post-detail .buttons .purchase {
  background-color: black;
  color: white;
  font-weight: 700;
}

#product-post-detail .buttons .cart {
  background-color: yellowgreen;
  font-weight: 700;
}

#product-post-detail .buttons .like {
  background-color: plum;
  font-weight: 700;
}

#product-post-detail .product-link {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 50px;
  margin: 60px 0 0 0;
}

#product-post-detail .product-content {
  margin: 50px 0 0 0;
}
