#product-post-detail {
  max-width: 1440px;
  margin: 0 auto;
}

#product-post-detail .product-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#product-post-detail .thumbnail {
  width: 600px;
  height: 600px;
}

#product-post-detail .product-info {
  min-width: 600px;
}

#product-post-detail .product-info .title {
  font-size: 24px;
  font-weight: 700;
}

#product-post-detail .product-info .price {
  font-size: 20px;
  margin: 5px 0 0 0;
  color: gray;
}

#product-post-detail .option-toggle-button {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

#product-post-detail .option-toggle-button:hover {
  border: 1px solid black;
}

#product-post-detail figure.image img {
  max-width: 100%;
  height: auto;
}
