#login {
  width: 100%;
  height: 100%;
}

#login > .wrapper {
  width: 20%;
  min-width: 460px;
  min-height: 600px;
  height: 50%;
  margin: 5% auto 0 auto;
}

#login > .wrapper .title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 900;
  color: rgba(139, 85, 27, 1);
  width: 100%;
  min-height: 36px;
}

#login > .wrapper .subtitle {
  display: flex;
  justify-content: center;
  color: rgb(92, 81, 68);
  margin: 0 0 5% 0;
}

#login > .wrapper .content {
  background-color: blue;
  width: 100%;
  height: 50%;
}

#login > .wrapper .seperator {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  gap: 10px;
  color: rgb(143, 144, 149);
}

#login > .wrapper .seperator > .line {
  width: 100%;
  height: 1px;
  background-color: rgb(197, 198, 202);
}

#login > .wrapper .footer {
  background-color: purple;
  width: 100%;
  height: 40%;
}

#login > .wrapper .oauth-login-wrapper {
  width: 100%;
  height: 64px;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#login > .wrapper .oauth-login {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #666;
}

#login > .wrapper .oauth-login a {
  width: 100%;
  height: 100%;
  display: block;
}

#login > .wrapper .oauth-login .oauth-login-button {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
