.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.fade-enter-done {
  opacity: 0.5;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0s;
}
