#write {
  width: 100%;
  height: 100%;
}

#write > .wrapper {
  width: 1440px;
  margin: 64px auto 0 auto;
  padding: 30px 0;
}

#write > .header {
  width: 100%;
  height: 64px;
  position: absolute;
  top: 0;
}

#write > .header .logo {
  height: 64px;
  margin: 0 0 0 20px;
}

#write .header-container {
  width: 100%;
  height: 64px;
  background-color: white;
  position: absolute;
}

#write .post-info-container {
  width: 100%;
  height: 100%;
  min-height: 64px;
}

#write .editor-container {
  margin: 0 auto;
  width: 1280px;
  height: 50%;
  background-color: blue;
}

.submit-button {
  width: 80px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.submit-button:hover {
  cursor: pointer;
}

.ck-powered-by-balloon {
  display: none !important;
}

#write > .wrapper .write-product-post-title {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 30px;
  width: 100%;
  height: 48px;
  text-indent: 10px;
  padding: 0 0 20px 0;
}
