#App {
  width: 100%;
  height: 100%;
}

#App > .dimmed-area {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  transition: 0.1s ease opacity;
  opacity: 0;
  display: none;
}

#App > .dimmed-area.on {
  opacity: 0.2;
  display: block;
}

#App > .contact-button {
  width: 100px;
  min-height: 84px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 40px 0 0;
  position: fixed;
  right: 20px;
  bottom: 50px;
  justify-content: center;
  align-items: center;
}

#App > .contact-button .contact-menu-wrapper {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

#App > .contact-button .contact-menu-wrapper.open {
  max-height: 300px;
}

#App > .contact-button .contact-menu {
  width: 36px;
  height: 36px;
  display: flex;
  margin: 15px 0 15px 0;
}

#App > .contact-button .contact-menu:hover {
  color: rgba(139, 85, 27, 1);
}

#App > .contact-button .contact-button-image {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

#App > .contact-button .contact-button-image:hover {
  animation: shake 0.5s ease-in-out;
}

#App > .contact-button .contact-button-text {
  color: rgb(252, 98, 98);
  font-weight: 700;
}

/* Animation */

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}
