@font-face {
  font-family: "NotoSansKR-Regular";
  font-weight: normal;
  src: url("./global/assets/fonts/NotoSansKR-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans-Regular";
  font-weight: normal;
  src: url("./global/assets/fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: lighter;
  src: url("./global/assets/fonts/GmarketSansTTFLight.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: normal;
  src: url("./global/assets/fonts/GmarketSansTTFMedium.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: bold;
  src: url("./global/assets/fonts/GmarketSansTTFBold.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "GmarketSans", "NotoSansKR-Regular", "NotoSans-Regular";
}

button {
  border: 0px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

select option[value=""][disabled] {
  display: none;
}

#rumune {
  width: 100%;
  height: 100%;
}
